body {
  font-size: 2em;
}

header {
  margin-bottom: 1.5em;
}

main {
  font-size: 0.75em;
}

/* *****************************************************************************

  reset user agent styles
  see: https://andy-bell.co.uk/a-modern-css-reset

***************************************************************************** */

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4,
p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'], ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /* disable because of my personal header */
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img, picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* *****************************************************************************

  specific styles for this site

***************************************************************************** */

details {
  margin-bottom: 1em;
}

summary {
  width: 6em;
}

details p {
  margin-block-start: 0.5em;
}

button, input {
  padding: 0.35em 0.7em;
  color: white;
  border: 2px solid;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: white;
  background-color: #333;
}

button:disabled, input:disabled, textarea:disabled,
div.disabled, p.disabled, label.disabled,
#input.disabled, #output.disabled,
label:has(> input:disabled) {
  color: #AAAAAA;
  background-color: inherit;
  cursor: default;
}

form#buttons {
  display: flex;
  column-gap: 1em;
  row-gap: 0.5em;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

form#pasteform {
  display: grid;
  row-gap: 0.5em;
  margin-bottom: 0.5em;
}

textarea {
  color: white;
  background-color: #555;
  font-family: monospace;
  font-size: 0.92em;
  resize: none;
  border: 2px solid white;
  padding: 0.5em;
  height: calc(100vh - 6vmin - 14em);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
}

textarea:focus {
  outline: none;
}

/* Fade out begin */
@keyframes fadeOut {
  0% {
    color: white;
  }

  100% {
    color: #555;
  }
}

.fadeout {
  animation-name: fadeOut;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
/* Fade out end */

@keyframes greenButton {
  0% {
    background-color: #080;
  }

  100% {
    background-color: #333;
  }
}

.greenbutton {
  animation-name: greenButton;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes redButton {
  0% {
    background-color: #c00;
  }

  100% {
    background-color: #333;
  }
}

.redbutton {
  animation-name: redButton;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
